<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437179239360-gh341ku41bobqgd12ec47u644fnaj5hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437179239360-gh341ku41bobqgd12ec47u644fnaj5hq</string>
	<key>API_KEY</key>
	<string>AIzaSyAPfcOHIkf5DX9gnZmOlN26T3aqzX64-gE</string>
	<key>GCM_SENDER_ID</key>
	<string>437179239360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jay.Sharf</string>
	<key>PROJECT_ID</key>
	<string>sharf-8c4b7</string>
	<key>STORAGE_BUCKET</key>
	<string>sharf-8c4b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437179239360:ios:02be129b7ef4a189b61625</string>
</dict>
</plist>